
<div class="jumbotron" style="max-width: 20%; text-align: center;" >
    <div class="container">
      <h1 [hidden] ="show" class="display-4" style="color: rgb(13, 218, 13);">{{en}}</h1>
      <p class="lead" style="color: rgb(185, 14, 14);">{{vn}}</p>
      <code style="display: block; font-size: 3em;"> {{count}} </code>
      <button type="button" class="btn btn-primary mr-2" (click) = "show=!show" >toggle ENG</button>
      <button type="button" class="btn btn-danger" (click) = "countF()">Count</button>
    </div>
  </div>